/* GLOBAL CSS STYLES */

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --heading-color: var(--Dark-01, #131313);
    --description-color: var(--Dark-03, #727272);
    --btn-back-color: #FF900E; 
}

a {
    text-decoration: none;
    color: #424242;
}

.primary-heading {
    font-size: 45px;
    color: var(--heading-color);
}

.primary-description {
    font-size: 16px;
    color: var(--description-color);
    line-height: 28px;
}

.primary-btn {
    background-color: var(--btn-back-color);
    padding: 20px;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    border: 0;
    margin: 10px 0px 30px;
}


/* HEADER NAV BAR CSS STYLES */
header {
    padding: 50px 131px 45px;
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav li {
    padding-left: 20px;
}


/* HEADER BANNER CSS STYLES */

.banner {
    margin-top: 77px;
    text-align: center;
}

.banner  > p {
    padding: 17px 80px 15px;
}

.banner .banner-title {
    font-size: 64px;
    color: var(--heading-color);
}

.banner img {
    width: 100%;
}


/* MAIN TEAM SECTION  CSS STYLES */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.teams {
    display: flex;
    align-items: center;
    margin: 100px 160px;
}

.teams-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
}

.teams-container {
    margin-left: 50px;
}

.teams-container .more-style {
    color: #727272;
    font-weight: 500; 
}

.teams-container .style-heading {
    color: #FF900E;
}

.teams-container > p {
    margin: 10px 0 22px;
}


/* MAIN FEATURE SECTION  CSS STYLES */

.features {
    display: flex;
    justify-content: space-between;
    margin: 121px 131px 45px;
}

.features-content {
    margin-top: 22px;
}

.features-content > h1 {
    margin-bottom: 18px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-content > p {
    margin-bottom: 18px;
}

.card {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin: 10px 30px 0 0;
}

.card .card-title {
    color: var(--heading-color);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
}

.features-image {
    margin-top: 121px;
}

.features-image img {
    position: relative;
    left: 88px;
}

.experience {
    background-color: #FF900E;
    text-align: center;
    width: 252px;
    border-radius: 8px;
    padding: 33px;
    position: relative;
    bottom: 105px;
}

.experience > h1 {
    font-size: 65px;
    color: #fff;
}

.experience > p {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
}


/* MAIN FACT SECTION  CSS STYLES */

.facts {
    margin: 121px 131px 45px;
}

.facts > p {
    margin-top: 22px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.card-content {
    width: 160px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 24px 12px;
}


/* MAIN SPONSORS SECTION  CSS STYLES */

.sponsors {
    margin: 150px 131px 45px;
    text-align: center;
}

.sponsors-content > h1 {
    margin-bottom: 23px;
}

.sponsors-content > p {
    margin-bottom: 43px;
}

.sponsors-image {
    display: flex;
    justify-content: space-around;
}


/* FOOTER CSS STYLES */

footer {
    margin: 121px 131px 212px;
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
    padding: 40px 0;
}

/* ---------- | END |---------- */