/* GLOBAL CSS STYLES */

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --heading-color: var(--Dark-01, #131313);
    --description-color: var(--Dark-03, #727272);
    --btn-back-color: #FF900E; 
}

a {
    text-decoration: none;
    color: #424242;
}

.primary-heading {
    font-size: 45px;
    color: var(--heading-color);
}

.summary-description {
    font-size: 16px;
    color: var(--description-color);
    line-height: 28px;
}

.primary-btn {
    background-color: var(--btn-back-color);
    padding: 20px;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    border: 0;
    margin: 10px 0px 30px;
}


/* HEADER NAV BAR CSS STYLES */
header {
    padding: 50px 161px 45px;
    background: rgba(255, 144, 14, 0.10);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-bar nav li {
    padding-left: 20px;
}

/* HEADER BANNER CSS STYLES */

.banner {
    margin-top: 77px;
    text-align: center;
}

.banner-summary p {
    padding: 17px 80px 15px;
}

.banner .summary-title {
    font-size: 64px;
    color: var(--heading-color);
}

.banner img {
    width: 100%;
}